                <!-- App Settings FAB -->
                <div id="app-settings">
                    <app-settings layout-active="default"
                                  :layout-location="{
              'default': 'index.html',
              'fixed': 'fixed-dashboard.html',
              'fluid': 'fluid-dashboard.html',
              'mini': 'mini-dashboard.html'
            }"></app-settings>
                </div>
        
        <!-- jQuery -->
        <script src="/admin/vendor/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="/admin/vendor/popper.min.js"></script>
        <script src="/admin/vendor/bootstrap.min.js"></script>

        <!-- Perfect Scrollbar -->
        <script src="/admin/vendor/perfect-scrollbar.min.js"></script>

        <!-- DOM Factory -->
        <script src="/admin/vendor/dom-factory.js"></script>

        <!-- MDK -->
        <script src="/admin/vendor/material-design-kit.js"></script>

        <!-- App -->
        <script src="/admin/js/toggle-check-all.js"></script>
        <script src="/admin/js/check-selected-row.js"></script>
        <script src="/admin/js/dropdown.js"></script>
        <script src="/admin/js/sidebar-mini.js"></script>
        <script src="/admin/js/app.js"></script>

        <!-- App Settings (safe to remove) -->
        <script src="/admin/js/app-settings.js"></script>

        <!-- Flatpickr -->
        <script src="/admin/vendor/flatpickr/flatpickr.min.js"></script>
        <script src="/admin/js/flatpickr.js"></script>

        <!-- Global Settings -->
        <script src="/admin/js/settings.js"></script>

        <!-- Moment.js -->
        <script src="/admin/vendor/moment.min.js"></script>
        <script src="/admin/vendor/moment-range.js"></script>

        <!-- Chart.js -->
        <script src="/admin/vendor/Chart.min.js"></script>

        <!-- App Charts JS -->
        <script src="/admin/js/charts.js"></script>
        <script src="/admin/js/chartjs-rounded-bar.js"></script>

        <!-- Chart Samples -->
        <script src="/admin/js/page.dashboard.js"></script>
        <script src="/admin/js/progress-charts.js"></script>

        <!-- Vector Maps -->
        <script src="/admin/vendor/jqvmap/jquery.vmap.min.js"></script>
        <script src="/admin/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
        <script src="/admin/js/vector-maps.js"></script>

        <!-- List.js -->
        <script src="/admin/vendor/list.min.js"></script>
        <script src="/admin/js/list.js"></script>

        <!-- Dropzone -->
        <script src="/admin/vendor/dropzone.min.js"></script>
        <script src="/admin/js/dropzone.js"></script>